/*Selector, propiedad y valor*/
h1{
    color: aqua;
}
        /*
        <!--
            DE tipo | div{}
            De clase| .elemento{}
            De id   | #id-del-elemento{}
        De atributo | a[href=""]{}
        Universal   | *{}
        Ejemplos
            -->*/
*{
    /*Este afecta a todo absolutamente todo*/
    margin: 0;
    box-sizing: border-box;
}
/*Este se usa para elementos*/
div{
    background-color: aqua;
}
/*Este para clases*/
.clase{
    background-color: blueviolet;
}
/*Este para id*/
#id{
    background-color: brown;
}
/*Podemos hacerlo muy especifico*/
a[href=""]{
    background-color: chartreuse;
}
/*Especificidad de factores*/
/*Pendiente clase de manana*/
/*Descendientes  | div p
HIjo directo     | div>p
Elemento adyacent| div+p
Gen de hermanos  | div~p
*/
/*descendiente directo*/
div>div{
    background-color: blueviolet;
}
/*Clase es*/
.es{
    background: red;
}
/*section adyacente a div*/
div + section{
    background: palevioletred;
}
/*La p que sigue de div*/
div~p{
 color: aqua;   
}
/*pseudoclases   |  pseudoelementos
:active          |  ::after
:focus           |  ::before
:hover           |  ::first-letter
:nth-child()     |  ::placeholder
*/
p::first-letter{
    color: blue;
}
p::before{
    content: "😟";
}
p::after{
    content: "🥰";
}
p{
    color: salmon;
}
p:hover{
    color: seagreen;
}
div p:nth-child(2){
    color: black;
}
::placeholder{
    color:tomato;
}
/*
x 0 0 0 0 | !important
  x 0 0 0 | Estilos de linea
    x 0 0 | #id
      x 0 |Clases, atributos y pseucoclases
        x | Selector universal *
*/
#platzi{
    color: blueviolet;
}
.master{
    color: springgreen;
}